<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="DBConnectionString" 
             connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=hrdb;User ID=hrms;Password=hryspa"/>
    </connectionStrings>
    <appSettings>
        <add key="Salt" value="Mich@e1"/>
        <add key="CompanyName" value="博睿科技"/>
        <add key="Website" value="https://www.hdbits.org"/>
        <add key="Telephone" value="400-800-5455"/>
        <add key="IsReminderOn" value="true"/>
        <add key="ReminderDays" value="5"/>
    </appSettings>
</configuration>